body{
  background-image:  url("background-2.jpg");
  background-repeat: no-repeat;
}
.jumbotron {
    background-color:transparent !important; 
}
.jumbotron>h1{
  font-family: Pacifico, sans-serif;
}
#verticle-line{
border-right: 3px solid #FF4500;
height: 180px;
margin-top: 1em;

}
.index-page button{
  margin-top: 2em;
  margin-left: -2em;
  color: white;
}
#seller-section{
  padding-left: 1em;
}
.btn-danger:hover,.btn-danger>a:active,
.btn-danger>a:link,
.btn-danger>a:visited {
  color: #ffe6e6 ;
  text-decoration: none;
}  
.signup-section{
background-color: #f0f8ff;
width:60%;
margin-left: 200px;
margin-right: 50px;
margin-top: 50px;
 margin-bottom:50px;
 border: 1px solid black;
}
.signup-form{
   margin-top: 50px;
   margin-bottom:50px !important;
}
.socialmediaicons a img {
  width: 30px;
  border-radius: 50%;
}
footer {
  color: #004480;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ffb366;
  margin-top: 20px;
  position: relative;
  top: 50px;
}
footer a:link{
  color: #004480;
}
#log-back{
  margin:auto;
  width:70%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:20px;
}
#log-back>form{
  margin:auto;
  width:70%;
  margin-top:10px;
  margin-bottom:15px;
  
}
.navbar-brand{
  font-family: Pacifico, sans-serif;
  color: #f45c42 !important;
  letter-spacing: 3px;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
.navbar{
  box-sizing: border-box;
  height: 70px !important;
 padding-top: 14px;

}
.navbar-right{
  margin-right: 10px;
}
.navbar-text{
  font-family:  sans-serif,"Trebuchet MS", Helvetica;
  font-size:18px !important;
  color:  #f45c42 !important;
}
.buyerview-icon{
  color: #994d00 ;
  font-size: 20px;
}
.dropdown-menu li{
  margin: 10px 0;
}
.effect-link:hover{
  color: black !important;
  font-weight: bold;
}
.main-wrapper{
  margin-top: 100px;
}
#choices{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 100px;
}
.imgGallery{
  width: 80%;
  margin-left: 5em;
  text-align:center;
}
.imgGallery>div{
  margin-bottom:2em;
}
.imgGallery figure:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgGallery button{
  background-color: transparent;
  padding:0;
  border-style: none;
}
figcaption{
  background-color:lightgrey;
   font-family:  sans-serif,"Trebuchet MS", Helvetica;
}

